aclocal.m4 linguist-generated
build-aux/compile linguist-vendored
build-aux/config.guess linguist-vendored
build-aux/config.rpath linguist-vendored
build-aux/config.sub linguist-vendored
build-aux/depcomp linguist-vendored
build-aux/install-sh linguist-vendored
build-aux/ltmain.sh linguist-vendored
build-aux/missing linguist-vendored
build-aux/mkinstalldirs linguist-vendored
config.h.in linguist-generated
configure linguist-generated
configure.scan linguist-generated
macros/libtool.m4 linguist-vendored
macros/lt*.m4 linguist-vendored

# ChangeLog merge driver from gnulib:
ChangeLog    merge=cl-merge
