*DS_Store*
*~
*.o
*.cache
*.log
stamp-h*
libtool
*.status
confdefs.h
conftest*
config.h
doc/Makefile
doc/*/Makefile
glade.spec
*/*deps/*.Po
*/*/*deps/*.Po
glade/data/*/Makefile
glade/data/Makefile
Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
*.stamp
cscope.files
glade/tags
glade/*/tags
GPATH
GRTAGS
GTAGS
ID
*.gmo
